@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(../../../https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(../../../https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);
@import url(../../../https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);






body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}
.display-7 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.navbar .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #001947 !important;
}
.bg-success {
  background-color: #649aff !important;
}
.bg-info {
  background-color: #ffedc5 !important;
}
.bg-warning {
  background-color: #523f15 !important;
}
.bg-danger {
  background-color: #001947 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #001947;
  border-color: #001947;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #9abdff;
  border-color: #9abdff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #4e8bff;
  border-color: #4e8bff;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4e8bff !important;
  border-color: #4e8bff !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ffedc5;
  border-color: #ffedc5;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #ffd578;
  border-color: #ffd578;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ffd578 !important;
  border-color: #ffd578 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #649aff;
  border-color: #649aff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #1868ff;
  border-color: #1868ff;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1868ff !important;
  border-color: #1868ff !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #523f15;
  border-color: #523f15;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #151005;
  border-color: #151005;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #151005 !important;
  border-color: #151005 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #001947;
  border-color: #001947;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #001947;
  border-color: #001947;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #001947 !important;
  border-color: #001947 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #347aff;
  color: #347aff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #9abdff;
  border-color: #9abdff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #9abdff !important;
  border-color: #9abdff !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #ffcd5f;
  color: #ffcd5f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #ffedc5;
  border-color: #ffedc5;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffedc5 !important;
  border-color: #ffedc5 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #0058fd;
  color: #0058fd;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #649aff;
  border-color: #649aff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #649aff !important;
  border-color: #649aff !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #010100;
  color: #010100;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #523f15;
  border-color: #523f15;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #523f15 !important;
  border-color: #523f15 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #001947;
  border-color: #001947;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #001947 !important;
  border-color: #001947 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #001947 !important;
}
.text-secondary {
  color: #9abdff !important;
}
.text-success {
  color: #649aff !important;
}
.text-info {
  color: #ffedc5 !important;
}
.text-warning {
  color: #523f15 !important;
}
.text-danger {
  color: #001947 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #347aff !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #0058fd !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #ffcd5f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #010100 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffedc5;
}
.alert-warning {
  background-color: #523f15;
}
.alert-danger {
  background-color: #001947;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #001947;
  border-color: #001947;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #001947;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #2e77ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #dbba72;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #2e77ff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #001947;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.navbar-caption {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #001947;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #001947;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #001947;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #001947;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.cid-qq1YogvI87 .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-qq1YogvI87 .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-qq1YogvI87 a {
  font-style: normal;
}
.cid-qq1YogvI87 .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6rem;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qq1YogvI87 .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qq1YogvI87 .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qq1YogvI87 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qq1YogvI87 .menu-logo {
  margin-right: auto;
}
.cid-qq1YogvI87 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qq1YogvI87 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qq1YogvI87 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qq1YogvI87 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qq1YogvI87 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qq1YogvI87 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qq1YogvI87 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qq1YogvI87 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qq1YogvI87 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qq1YogvI87 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qq1YogvI87 .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qq1YogvI87 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qq1YogvI87 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qq1YogvI87 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qq1YogvI87 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qq1YogvI87 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qq1YogvI87 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qq1YogvI87 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qq1YogvI87 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qq1YogvI87 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qq1YogvI87 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qq1YogvI87 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qq1YogvI87 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qq1YogvI87 button.navbar-toggler:focus {
  outline: none;
}
.cid-qq1YogvI87 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qq1YogvI87 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qq1YogvI87 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qq1YogvI87 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qq1YogvI87 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qq1YogvI87 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qq1YogvI87 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qq1YogvI87 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qq1YogvI87 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qq1YogvI87 .collapsed .btn {
  display: flex;
}
.cid-qq1YogvI87 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qq1YogvI87 .collapsed .navbar-collapse.collapsing,
.cid-qq1YogvI87 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qq1YogvI87 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qq1YogvI87 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qq1YogvI87 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qq1YogvI87 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qq1YogvI87 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qq1YogvI87 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qq1YogvI87 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qq1YogvI87 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qq1YogvI87 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qq1YogvI87 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qq1YogvI87 .collapsed button.navbar-toggler {
  display: block;
}
.cid-qq1YogvI87 .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qq1YogvI87 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qq1YogvI87 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qq1YogvI87 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qq1YogvI87 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qq1YogvI87 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qq1YogvI87 img {
    height: 3.8rem !important;
  }
  .cid-qq1YogvI87 .btn {
    display: flex;
  }
  .cid-qq1YogvI87 button.navbar-toggler {
    display: block;
  }
  .cid-qq1YogvI87 .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qq1YogvI87 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qq1YogvI87 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qq1YogvI87 .navbar-collapse.collapsing,
  .cid-qq1YogvI87 .navbar-collapse.show {
    display: block !important;
  }
  .cid-qq1YogvI87 .navbar-collapse.collapsing .navbar-nav,
  .cid-qq1YogvI87 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qq1YogvI87 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qq1YogvI87 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qq1YogvI87 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qq1YogvI87 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qq1YogvI87 .navbar-collapse.collapsing .navbar-buttons,
  .cid-qq1YogvI87 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qq1YogvI87 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qq1YogvI87 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qq1YogvI87 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qq1YogvI87 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qq1YogvI87 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qq1YogvI87 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qq1YogvI87 .nav-link,
.cid-qq1YogvI87 .dropdown-item {
  font-family: 'Rubik', sans-serif;
}
.cid-qq3DFRnwbX {
  background-image: url("../../../assets/images/part0-1632x918.png");
}
.cid-qqALiAclB8 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
  position: relative;
}
.cid-qqALiAclB8 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qqALiAclB8 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qqALiAclB8 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-qqALiAclB8 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qqALiAclB8 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-qqALiAclB8 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-qqALiAclB8 .card .panel-body {
  color: #767676;
}
.cid-qq3Ka6TY3s {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffedc5;
}
.cid-qq3Ka6TY3s .mbr-section-subtitle {
  color: #767676;
}
.cid-qq3Ka6TY3s .media-row {
  display: flex;
  justify-content: center;
}
.cid-qq3Ka6TY3s .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-qq3Ka6TY3s .team-item .item-image img {
  width: 100%;
}
.cid-qq3Ka6TY3s .team-item .item-name p {
  margin-bottom: 0;
}
.cid-qq3Ka6TY3s .team-item .item-role p {
  margin-bottom: 0;
}
.cid-qq3Ka6TY3s .team-item .item-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-qq3Ka6TY3s .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-qq3Ka6TY3s .team-item .item-caption {
  background: #e4d295;
}
.cid-qq2aZVgEfX {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #55b4d4;
  background: linear-gradient(#55b4d4, #efefef);
}
.cid-qq2aZVgEfX .carousel-control {
  background: #000;
}
.cid-qq2aZVgEfX .mbr-section-subtitle {
  color: #767676;
}
.cid-qq2aZVgEfX .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qq2aZVgEfX .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qq2aZVgEfX .carousel-item .wrap-img {
  text-align: center;
}
.cid-qq2aZVgEfX .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-qq2aZVgEfX .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qq2aZVgEfX .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-qq2aZVgEfX .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-qq2aZVgEfX .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-qq2aZVgEfX .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-qq2aZVgEfX .cloneditem-1,
.cid-qq2aZVgEfX .cloneditem-2,
.cid-qq2aZVgEfX .cloneditem-3,
.cid-qq2aZVgEfX .cloneditem-4,
.cid-qq2aZVgEfX .cloneditem-5 {
  display: none;
}
.cid-qq2aZVgEfX .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-qq2aZVgEfX .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-qq2aZVgEfX .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides2 .cloneditem-1,
  .cid-qq2aZVgEfX .carousel-inner.slides2 .cloneditem-2,
  .cid-qq2aZVgEfX .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-qq2aZVgEfX .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides3 .cloneditem-1,
  .cid-qq2aZVgEfX .carousel-inner.slides3 .cloneditem-2,
  .cid-qq2aZVgEfX .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-qq2aZVgEfX .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides4 .cloneditem-1,
  .cid-qq2aZVgEfX .carousel-inner.slides4 .cloneditem-2,
  .cid-qq2aZVgEfX .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-qq2aZVgEfX .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides5 .cloneditem-1,
  .cid-qq2aZVgEfX .carousel-inner.slides5 .cloneditem-2,
  .cid-qq2aZVgEfX .carousel-inner.slides5 .cloneditem-3,
  .cid-qq2aZVgEfX .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-qq2aZVgEfX .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-qq2aZVgEfX .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qq2aZVgEfX .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qq2aZVgEfX .carousel-inner.slides6 .cloneditem-1,
  .cid-qq2aZVgEfX .carousel-inner.slides6 .cloneditem-2,
  .cid-qq2aZVgEfX .carousel-inner.slides6 .cloneditem-3,
  .cid-qq2aZVgEfX .carousel-inner.slides6 .cloneditem-4,
  .cid-qq2aZVgEfX .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-qq3Q1GXpt5 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qq3Q1GXpt5 .mbr-section-subtitle {
  color: #767676;
}
.cid-qq3Q0s1imY {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qq3Q0s1imY .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qq3Q0s1imY .section-text {
  padding: 2rem 0;
}
.cid-qq3Q0s1imY .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qq3Q0s1imY .inner-container {
    width: 100% !important;
  }
}
.cid-qq3QoFjIrx {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qq3QoFjIrx .mbr-text,
.cid-qq3QoFjIrx blockquote {
  color: #767676;
}
.cid-qq3QoFjIrx .mbr-text DIV {
  text-align: left;
}
.cid-qq3UCwafh9 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qq3UCwafh9 .title {
  margin-bottom: 2rem;
}
.cid-qq3UCwafh9 .mbr-section-subtitle {
  color: #767676;
}
.cid-qq3UCwafh9 a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qq3UCwafh9 a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qq3UCwafh9 .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qq3UCwafh9 .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qqAOuIXrLe {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #465052;
}
@media (max-width: 767px) {
  .cid-qqAOuIXrLe .content {
    text-align: center;
  }
  .cid-qqAOuIXrLe .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-qqAOuIXrLe .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-qqAOuIXrLe .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-qqAOuIXrLe .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-qqAOuIXrLe .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qqAOuIXrLe .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qqAOuIXrLe .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qqAOuIXrLe .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qqAOuIXrLe .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qqAOuIXrLe .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qqAOuIXrLe .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qqAOuIXrLe .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qqAOuIXrLe .copyright > p {
  text-align: left;
}
